.inputSearch .ant-input-outlined {
border-color: #7500CF;
height: 38px;
}
.inputSearch .ant-btn-variant-solid{
    background-color: #7500CF;
    height: 38px;
}
.inputSearch .ant-input-outlined:focus, .inputSearch .ant-input-outlined:hover{
    border-color: #6308a8;
}
.inputSearch .ant-btn-variant-solid:hover{
    background-color: #6308a8;
}
.inputSearch .ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover{
    background-color: #6308a8;
}
.inputSearch .ant-btn .ant-btn-icon {
font-size: 1.3rem;
}