
.header{
    width: 100%;
    background-color: black;
    padding: 0.9rem;
    box-shadow: rgba(255, 255, 255, 0.295) 0px 2px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
}
.logo{
    font-size: 2.2rem;
    
}
.link{
    font-size: 1.7rem;
    line-height: 3.5rem;
}
.btnSuccess{
    background: linear-gradient(210deg,#fe6969,#e30713);
    width: 120px;
    height: 40px;
 
    text-align: center;
    font-size: 1.7rem;
    line-height: 3.9rem;
    border-radius: 2rem;
}
.btnSuccessW{
    border: .1rem solid white;
    width: 120px;
    height: 40px;
 
    text-align: center;
    font-size: 1.7rem;
    line-height: 3.9rem;
    border-radius: 2.1rem;
}