@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%; /* 1rem = 10px */
    background-color: rgb(236, 236, 236);
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, video {
    max-width: 100%;
    height: auto;
}
.roboto {
	font-family: 'roboto'
}