.tableEdit .ant-table-wrapper .ant-table-thead >tr>th,
.tableEdit .ant-table-wrapper .ant-table-thead >tr>td {
    background: #7500CF;
    color: white;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tableEdit .ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
.tableEdit .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background: none;
}

.tableEdit .ant-table-wrapper .ant-table-tbody >tr >th,
.tableEdit .ant-table-wrapper .ant-table-tbody >tr >td {
    text-align: center;
}

.table-detail-order .anticon svg,
.tableEdit .anticon svg {
    color: #7500CF;
}

.tableEdit .ant-pagination .ant-pagination-item-active {
    background-color: #7500CF;
    color: white;
    border-color: #7500CF;
}

.tableEdit .ant-pagination .ant-pagination-item-active a {
    color: white;
}

.table-detail-order .ant-table-wrapper {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table-detail-order .ant-table-wrapper .ant-table-thead >tr>th,
.tableEdit .ant-table-wrapper .ant-table-thead >tr>td {
    background: white;
    text-align: center;
}

.table-detail-order .ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
.tableEdit .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background: none;
}

.table-detail-order .ant-pagination .ant-pagination-item-active {
    background-color: #7500CF;
    color: white;
    border-color: #7500CF;
}

.table-detail-order .ant-pagination .ant-pagination-item-active a {
    color: white;
}