
.tableEdit .ant-table-wrapper .ant-table-thead >tr>th,.tableEdit .ant-table-wrapper .ant-table-thead >tr>td {
    background: #7500CF;
color:white;
text-align: center;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tableEdit .ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .tableEdit .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    background: none;
}
.tableEdit .ant-table-wrapper .ant-table-tbody >tr >th,.tableEdit .ant-table-wrapper .ant-table-tbody >tr >td{
    text-align: center;
}