.linear-gradient{
    background:  linear-gradient(to right, #da8cff, #9a55ff) !important;
}

.box-shadow{
   box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);

}

.linear-gradient1{
   background: linear-gradient(to right, #ffbf96, #fe7096) !important
}
.calendar-container {
   height: 400px; /* Hoặc kích thước bạn mong muốn */
   width: 100%;
 }
 