.cart-container{
    display: grid;
    grid-template-columns: 70% 27%;
    gap: 3%;
    align-items: center;
    justify-content: center;
}
.buttonUpper-voucher{
    border: #7500CF solid 0.05rem; 
    color: #7500CF; 
    font-weight: 500; 
    font-size: 1.2rem; 
    padding: 1rem; 
    width: 12rem;
    text-align: center;
    margin: 2rem 2rem -3rem 65%;
    visibility: hidden;
}
.giohang{
    text-align: center;
    font-size: 7rem;
    margin: 7rem;
    font-weight: 500;
    color: #7500CF;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tbody{
    border: 0.1rem solid #7500CF;
}
tr{
    border: #7500CF 0.1rem solid;
}
th{
    background-color: #7500CF;
    color: #FFFFFF;
    font-weight: 450;
    padding: 1rem;
    text-align: center;
    height: 8rem;
    font-size: large;
}
td{
    font-size: 1.5rem;
    padding: 2rem; 
    line-height: 2rem;
    text-align: center;
}
.cart-productName{
    font-weight: 500;
}
img {
    width: 5rem;
    height: 5rem;
}
.delete-btn {
    background-color: red;  
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.quantity-buttons{
    display: flex;
    justify-content: center;
}
.continueButton{
    background-color: #7500CF;
    color: #FFFFFF;
    border-radius: 5rem;
    border: none;
    padding: 1.5rem;
    font-weight: 550;
    width: 30%;
    margin: 2rem;
    font-size: large;
}
.deleteButton{
    background-color: #7500CF;
    color: #FFFFFF;
    border-radius: 5rem;
    border: none;
    padding: 1.5rem;
    font-weight: 550;
    width: 30%;
    margin: 2rem;
    font-size: large;
}
.buttonUnder-voucher{
    border: #7500CF solid 0.05rem; 
    color: #7500CF; 
    font-weight: 500; 
    font-size: 1.2rem; 
    padding: 1rem; 
    width: 12rem;
    text-align: center;
}
.quantity-number{
    text-align: center;
    width: 6rem;
    border: 0.1rem solid rgba(128, 128, 128, 0.281);
}
.changeQuantity{
    border: 0.1rem solid rgba(128, 128, 128, 0.281);
    width: 3rem;
    padding-top: 2%;
    height: 3rem;
}
.product-image > img{
    height: 8rem;
    width: 12rem;
    object-fit: cover; 
}
.product-info{
    text-align: left;
    margin-left: 3rem;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-price{
    color: #7500CF;
    font-weight: 500;
}
.cartConfirm{
    background-color: #FFFFFF;
    width: 100%; 
    height: 100%;
    box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.281);
    padding: 1rem 2rem;
    font-size: large;
}
.voucherBar{
    width: 100%;
    height: 1.5rem;
    background-color: #7500CF;
    border-radius: 5rem;
}
.saleText{
    display: flex; 
    font-weight: 400;
    font-size: large;
    text-align: left;
    align-items: baseline;
    justify-content: space-between;
    padding: 1.8rem 0rem;
    line-height: 2.5rem;
}
.payText{
    display: flex; 
    font-weight: 500;
    font-size: large;
    text-align: left;
    align-items: baseline;
    justify-content: space-between;
    padding: 2.5rem 0rem;
}
.cartConfirm > input{
    color: #FFFFFF;
    border-radius: 5rem;
    border: 0.1rem solid rgba(128, 128, 128, 0.432);
    padding: 1rem 2rem;
    font-weight: 550;
    width: 100%;
    margin: 0.5rem auto;
    height: auto;
    font-size: large;
}
.cartConfirm > input::placeholder{
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(128, 128, 128, 0.664);

}
.buttonThanhtoan{
    background-color: #7500CF;
    color: #FFFFFF;
    border-radius: 5rem;
    border: none;
    padding: 1.5rem;
    font-weight: 550;
    width: 100%;
    margin: 1rem auto;
}
.cartConfirm-quanity{
    color: #7500CF;
    font-weight: 700;

}
.cartConfirm-total{
    color: #7500CF;
    font-weight: 700;
}
.VAT{
    padding-top: 2rem;
    font-size: 1.8rem;
    color: grey;
    line-height: 2.3rem;
}
.emptyCart-container{
    text-align: center;
}
.icon{
    color: #7500CF;
}


@media (max-width: 1200px) {
    .cart-container {
        grid-template-columns: 1fr; 
    }
    .giohang {
        font-size: 5rem;
        margin: 5rem 0; 
    }
    .continueButton, .deleteButton {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .cartInfo {
        order: 2; 
    }
    
    .cartTable {
        order: 1;
    }
    .giohang {
        font-size: 4rem; 
    }
    th, td {
        font-size: medium;
        padding: 1rem; 
        line-height: 1.3rem;
    }
    img {
        width: 4rem; 
        height: 4rem;
    }
    .continueButton, .deleteButton {
        width: 100%; 
        margin: 1rem 0;
    }
    .product-image > img {
        height: 6rem; 
        width: auto; 
    }
    .buttonUnder-voucher {
        width: 100%; 
        display: none;
    }
    .cart-button-feld{
        display: none;
    }
}

@media (max-width: 480px) {
    .cartInfo {
        order: 2; 
    }
    .cartTable {
        order: 1;
    }
    .giohang {
        font-size: 3rem; 
    }
    .cart-container {
        margin: 2rem 2rem 5rem 2rem; 
        align-content: center;
    }
    .cartConfirm > input {
        font-size: medium; 
    }
    .buttonUpper-voucher{
        visibility: visible;
    }
    .buttonUnder-voucher {
        width: 100%; 
        display: none;
    }
    .cart-button-feld{
        display: none;
    }
    th{
        height: 5rem;
        font-size: 1.1rem;
    }
    td{
        height: fit-content;
        font-size: 1rem;
        border-collapse: collapse;
    }
    .product{
        gap: 0.005rem;
    }
    .product-image > img{
        width: 3.5rem;
        height: inherit;
        object-fit: cover;
    }
    .quantity-buttons{
        text-align: center;
    }
    .changeQuantity{
        padding-top: 5%;
        width: 2rem;
        height: 2rem;
    }
    .quantity-number{
        text-align: center;
        width: 3rem;
        border: 0.001rem solid rgba(128, 128, 128, 0.281);
    }
    .cartButton{
        display: flex;
        justify-content: space-between;
    }
    .continueButton{
        margin: 3rem 0;
        width: 30%;
        height: 5%;
        font-size: small;
    }
    .deleteButton{
        margin: 3rem 0;
        width: 30%;
        height: 5%;
        font-size: small;
    }
}